<%= stylesheet_link_tag "../stylesheet/gzip.css" %>
<div id="task_form" class="formholder">
 <%= render 'form' %>
</div>
<div id="msgbx"></div><br />
<ul id="tasks">
 <%= render :partial => @tasks %>
</ul>