// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
textarea {
  font-family: Arial;
  font-size: 12px;
  width: 500px;
  height: 100px;
  padding-bottom: 8px;
}
 
.textfield{
  font-family: Arial;
  font-size: 14px;
  width: 300px;
  padding-bottom: 8px;
  border: 1px solid black;
}
 
#tasks ul {
  margin: 0;
  padding: 0;
}
 
#tasks li {
  margin-left: -30pt;
  margin-bottom: 5px;
  padding: 8px;
  list-style: none;
  border: 1px solid #ccc;
}
 
#tasks p {
  margin: 0;
}
 
#tasks .title {
  font-size: small;
  font-weight: bold;
}
 
#tasks .content {
  font-size: x-small;
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.posted_at {
  font-size: xx-small;
  text-decoration: italic;
  margin-bottom: 4px;
}
 
#timer {
  font-size: xx-small;
  text-decoration: italic;
}